<div id="directorybar">
    {{#each directories}}
        {{#link-to 'gallery.browse' path}}{{ name }}{{/link-to}}
        &gt;
    {{/each}}
</div>

<div id="dirlisting">
    <ul>
        {{#each subdirs}}
            <li>
                {{#link-to 'gallery.browse' path}}{{name}}{{/link-to}}
            </li>
        {{/each}}
    </ul>
</div>

<div id="images">
    {{#each image in images}}

        <div class="thumbnail-container">

            <img class="lazy" {{bind-attr data-original=image.thumbnail data-index=_view.contentIndex}}{{action "imageClicked" image}}/>

            <span>{{ image.description }}</span>
        </div>

    {{/each}}
</div>