<div class="image-overlay">
    <button {{action 'left'}} class="leftArrow"/>
    <button {{action 'right'}} class="rightArrow"/>
    <button {{action 'up'}} class="upArrow"/>
    <button {{action 'remove' previewImage}} class="thrash"/>
    <button {{action 'undo' previewImage}} class="revert"/>
</div>
<div id="preview-image">
    <img {{bind-attr src=previewImage.preview}}>
</div>