<div id="directorybar">
    {{#each model.directories}}
        {{#link-to 'gallery.browse' path}}{{ name }}{{/link-to}}
        &gt;
    {{/each}}
</div>

<div id="dirlisting">
    <ul>
        {{#each model.subdirs}}
            <li>
                {{#link-to 'gallery.browse' path}}{{name}}{{/link-to}}
            </li>
        {{/each}}
    </ul>
</div>

<div id="images">
    {{#each image in model.images}}
        <div class="thumbnail-container">
            <img class="lazy" {{bind-attr data-original=image.thumbnail data-name=image.description}}{{action "imageClicked" image}}/>

            <div class="image-overlay">
                <button class="revert" {{action "undo" image}}></button>
                <button class="thrash" {{action "remove" image}}></button>
            </div>
            <span>{{ image.description }}</span>
        </div>

    {{/each}}
</div>