<button {{action "clearSelection"}}>Clear selection</button>

selected: {{numSelectedImages}}

<!-- TODO: create component -->
<div class="autocomplete">
    {{view "my-input" value=destinationFolder hasFocus=selectedFolderFocus}}
    <div {{bind-attr class=":autocomplete-list selectedFolderFocus::hidden"}}>
        {{#each option in matchingFolders}}
            <div class="autocomplete-option" {{action "selectOption" option}}>{{option}}</div>
        {{/each}}
    </div>
</div>

<button {{action "moveSelection"}}>Move</button>