<div id="directorybar">
    {{#each directories}}
        {{#link-to 'gallery.browse' path}}{{ name }}{{/link-to}}
        &gt;
    {{/each}}
</div>

<div id="dirlisting">
    <ul>
        {{#each subdirs}}
            <li>
                {{#link-to 'gallery.browse' path}}{{name}}{{/link-to}}
            </li>
        {{/each}}
    </ul>
</div>

<div id="images">
    {{#each image in images}}

        <div class="thumbnail-container">

            <div class="thumbnail-image" {{action "imageClicked" image}}{{bind-attr data-index=_view.contentIndex}}>
                <img src="/static/images/blank.jpg" {{bind-attr data-src=image.thumbnail}}/>
            </div>

            <div class="thumbnail-desc">{{ image.description }}</div>
        </div>

    {{/each}}
</div>