{{thumbnailPath}}

{{ parent.path }}

{{#each directories }}
    {{ path }}
    {{#each images}}ba
        <li>{{name}}</li>
    {{/each}}
{{/each }}

<ul>
    {{#each images}}
        <li>{{name}}</li>
    {{/each}}
</ul>

{{log this.model}}