<div class="image-overlay">
    <a {{action 'prevImage'}} {{bind-attr class=":leftArrow :button previewImage.isFirst:inactive"}}></a>

    <a {{action 'exitPreview'}} class="upArrow button"></a>

    <a {{action 'nextImage'}} {{bind-attr class=":rightArrow :button previewImage.isLast:inactive"}}></a>

    {{#if previewImage.directory.inTrash}}
        <a {{action 'revertImage' previewImage}} class="revert button"></a>
    {{else}}
        <a {{action 'removeImage' previewImage}} class="thrash button"></a>
    {{/if}}

    <a {{action 'rotateImage' previewImage}} {{ bind-attr class="previewImage.orientation :button" }}></a>
</div>

<div id="preview-image">
    <img {{bind-attr src=previewImage.preview}}>
    <div id="preloads" style="display:none;"></div>
</div>