<img class="lazy {{if image.selected 'selected' ''}}"
     data-original="{{image.thumbnail}}"
     data-name="{{image.name}}" />

<div class="image-overlay">
    {{ partial 'partials/image-modification-buttons' }}

    <a class="download button" href="{{image.original}}" download="{{image.name}}"></a>
</div>

<span>{{ image.name }}</span>