<div id="directorybar">
    {{#each directory in model.parentDirectories}}
        {{#link-to 'gallery.directory' directory.path (query-params scrollTo='null')}}
            {{ directory.name }}
        {{/link-to}}
        <span class="separator">&gt;</span>
    {{/each}}
</div>

<div id="dirlisting">
    <ul>
        {{#each directory in model.subdirectories}}
            <li>
                <img src="assets/images/directory.png"/>

                {{#link-to 'gallery.directory' directory.pathWithoutSlashes (query-params scrollTo='null')}}
                    {{directory.name}}
                {{/link-to}}

                {{#if session.isAuthenticated}}
                    <span {{bind-attr class=":directory-access-icon directory.shared:shared" }} {{action "toggleShared" directory}}></span>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>

<div id="images">
    {{#each image in model.images}}
        <div class="thumbnail-container">
            <img class="lazy" {{bind-attr data-original=image.thumbnail data-name=image.name}} {{action 'showPreview' image}}/>

            <div class="image-overlay">

                {{#if session.isAuthenticated}}
                    {{#if image.directory.inTrash}}
                        <a class="revert button" {{action "revertImage" image}}></a>
                    {{else}}
                        <a class="thrash button" {{action "removeImage" image}}></a>
                    {{/if}}
                    <a {{action "rotateImage" image}}{{bind-attr class="image.orientation :button"}}></a>
                {{/if}}

                <a class="download button" {{bind-attr href=image.original}} {{bind-attr download=image.name}}></a>
            </div>
            <span>{{ image.name }}</span>
        </div>

    {{/each}}
</div>
