<div id="preview-image">
    <img src="{{model.preview}}">
    <span></span>
</div>

<div class="image-overlay">

    <button {{action 'prevImage'}}
            class="leftArrow button {{if model.isFirst 'inactive' ''}}"
            disabled={{model.isFirst}}>
    </button>

    <button {{action 'exitPreview' model}}
            class="upArrow button">
    </button>

    <button {{action 'nextImage'}}
            class="rightArrow button {{if model.isLast 'inactive' ''}}"
            disabled={{model.isLast}}>
    </button>

    {{#with model as file}}
        {{ partial 'partials/file-modification-buttons' }}
    {{/with}}

</div>