<div id="preview-image">
    <img {{bind-attr src=preview}}>
    <span></span>
</div>

<div class="image-overlay">
    <button {{action 'prevImage'}}
        {{bind-attr disabled="isFirst" class=":leftArrow :button isFirst:inactive"}}></button>

    <button {{action 'exitPreview' model}} class="upArrow button"></button>

    <button {{action 'nextImage'}}
        {{bind-attr disabled="isLast" class=":rightArrow :button isLast:inactive"}}></button>

    {{#with model as image}}
        {{ partial 'partials/image-modification-buttons' }}
    {{/with}}

</div>