<div class="image-overlay">
    <button {{action 'prevImage'}} {{bind-attr class=":leftArrow previewImage.isFirst:inactive"}}></button>

    <button {{action 'exitPreview'}} class="upArrow"></button>

    <button {{action 'nextImage'}} {{bind-attr class=":rightArrow previewImage.isLast:inactive"}}></button>

    {{#if previewImage.directory.inTrash}}
        <button {{action 'revertImage' previewImage}} class="revert"></button>
    {{else}}
        <button {{action 'removeImage' previewImage}} class="thrash"></button>
    {{/if}}

    <button {{action 'rotateImage' previewImage}} {{ bind-attr class="previewImage.orientation" }}></button>
</div>

<div id="preview-image">
    <img {{bind-attr src=previewImage.preview}}>
    <div id="preloads" style="display:none;"></div>
</div>