<div id="redundantImages">
    {{#link-to 'gallery.directory'}}Back to directory{{/link-to}}
    <p>
        Showing redundant images
    </p>
    <ul>
        {{#each imageGroup in model}}
            {{#if imageGroup.hasAtLeastTwoImages}}
                <li>
                    {{#each image in imageGroup.images}}
                        <div class="image-container">

                            <div class="image-overlay">
                                <a {{action 'removeFile' image}}
                                    class="thrash button {{if image.modificationPending 'inactive' ''}}"
                                    disabled={{image.modificationPending}} ></a>
                            </div>

                            <img src="{{image.thumbnail}}">

                            <p>{{image.path}}</p>
                        </div>
                    {{/each}}
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>