form(novalidate name='form').form-inline
    div.form-group
        label(for='user').sr-only Username
        input(
            id='user' name='user' placeholder="user" required
            ng-model='vm.user.login' ng-disabled="vm.isAuthenticated()")

    div.form-group
        label(for='password').sr-only Password
        input(
            id='password' name='password' placeholder="password" type='password' required
            ng-model='vm.user.password' ng-disabled="vm.isAuthenticated()")

    label(for='logout').sr-only Logout
    button.btn.btn-xs.btn-danger(
        type="button" id="logout" name='logout'
        ng-click='vm.logout()' ng-disabled='!vm.isAuthenticated()') x

    label(for='logout').sr-only Login
    button(
        id="logout" type='submit'
        ng-click='vm.login()' ng-disabled='form.$invalid' ng-hide='true')