<div id="browser"
     class="{{if isBrowserVisible '' 'hidden'}}">

    {{directory-bar model=model}}

    {{directory-listing model=model}}

    <div id="images" class="{{if isRedundantImagesMode 'hidden' ''}}">
        {{#each file in model.files}}
            {{#if file.isImage}}
                {{#with file as |image|}}
                    {{view "image-thumbnail" image=image }}
                {{/with}}
            {{/if}}
        {{/each}}
    </div>

    <div id="videos">
        {{#each file in model.files}}
            {{#if file.isVideo}}
                <div class="thumbnail-container">
                    {{video-control file=file}}

                    <div class="image-overlay">
                        {{ partial 'partials/file-modification-buttons' }}
                    </div>

                    <span>{{file.name}}</span>
                </div>
            {{/if}}
        {{/each}}
    </div>

    {{selection-bar model=model visible=isSelectionMode moveSelection='moveSelection'}}
</div>

{{outlet}}
