<div id="browser"
     class="{{if isBrowserVisible '' 'hidden'}}">

    {{directory-bar model=model}}

    {{directory-listing model=model}}

    <div id="images" class="{{if isRedundantImagesMode 'hidden' ''}}">
        {{#each image in model.images}}
            {{view "image-thumbnail" image=image }}
        {{/each}}
    </div>

    {{selection-bar model=model visible=isSelectionMode moveSelection='moveSelection'}}
</div>

{{outlet}}
