<div id="browser" {{bind-attr class="isBrowserVisible::hidden"}}>
    <div id="directorybar">
        {{#each directory in model.parentDirectories}}
            {{#link-to 'gallery.directory' directory.path (query-params scrollTo='null')}}
                {{ directory.name }}
            {{/link-to}}
            <span class="separator">&gt;</span>
        {{/each}}
    </div>

    <div id="dirlisting">
        <ul>
            {{#each directory in model.subdirectories}}
                <li>
                    <img src="assets/images/directory.png"/>

                    {{#link-to 'gallery.directory' directory.pathWithoutSlashes (query-params scrollTo='null')}}
                        {{directory.name}}
                    {{/link-to}}

                    {{#if session.isAuthenticated}}
                        <span {{bind-attr class=":directory-access-icon directory.shared:shared" }} {{action "toggleShared" directory}}></span>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>

    <div id="images" {{bind-attr class="isRedundantImagesMode:hidden"}}>
        {{#each image in model.images}}
            {{view "image-thumbnail" image=image }}
        {{/each}}
    </div>


    <div id="selectionBar" {{bind-attr class="isSelectionMode::hidden"}}>
        <button {{action "clearSelection"}}>Clear selection</button>

        selected: {{numSelectedImages}}

        <!-- TODO: create component -->
        <div class="autocomplete">
            {{view "my-input" value=destinationFolder hasFocus=selectedFolderFocus}}
            <div class="autocomplete-list" {{bind-attr class="selectedFolderFocus::hidden"}}>
                {{#each option in matchingFolders}}
                    <div class="autocomplete-option" {{action "selectOption" option}}>{{option}}</div>
                {{/each}}
            </div>
        </div>

        <button {{action "moveSelection"}}>Move</button>
    </div>
</div>

{{outlet}}
