{{#if session.isAuthenticated}}
    {{#if image.directory.inTrash}}
        <button {{action 'revertImage' image}}
            class="revert button {{if image.modificationPending 'inactive' ''}}"
            disabled={{image.modificationPending}}></button>
    {{else}}
        <button {{action 'removeImage' image}}
             class="thrash button {{if image.modificationPending 'inactive' ''}}"
             disabled={{image.modificationPending}}></button>
    {{/if}}

    <button {{action 'rotateImage' image}}
         class="{{image.orientation}} button {{if image.modificationPending 'inactive' ''}}"
         disabled={{image.modificationPending}}></button>
{{/if}}