<div id="authbox">
    {{#if session.isAuthenticated}}
        User: {{session.model.username}}
        <button {{action 'logout'}}>Logout</button>
    {{else}}

        {{input value=session.username type="text" placeholder="Username"}}
        {{input value=session.password type="password" placeholder="Password"}}
        <button {{action 'login'}}>Login</button>

        {{#if session.error}}
            <span>Invalid attempt</span>
        {{/if}}
    {{/if}}
</div>